<div class="form-container">
  <div class="form-body">
    <h2 class="title">AUTHENTIFICATION</h2>
    <div class="social-login">
      <ul>
        <li class="telecom"><a>Paris Telecom</a></li>
        <li class="psud"><a>Paris Sud</a></li>
      </ul>
    </div><!-- SOCIAL LOGIN -->
    <div class="_or">Ou rentrez vos identifiants UEVE :</div>
    <form class="the-form" [formGroup]="loginForm">
        <label for="email">Adresse Mail<span class="input_error" *ngIf="isValid('email')" > - Champ obligatoire</span></label>
        <input type="email" formControlName="email" matInput placeholder="E-mail universitaire..." required>
        <label>Mot de Passe<span class="input_error" *ngIf="isValid('password')" > - Champ obligatoire</span></label>
        <input type="password" formControlName="password" matInput placeholder="Votre mot de passe..." required>
      <input type="submit" (click)="login()" value="VALIDER">
    </form>
  </div>
</div>
