<div class="fiche-container">
	<!-- Affichage des alertes selon erreur HTTP retournée par une ou plusieurs requêtes -->
	<div class="alert-container" *ngIf="isAlertTriggered">
		<i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{alert.text}}
	</div>
	<!-- Affichage de la fiche de présence correspondant au prof courant de la séance courante du jour courant -->
	<div class="fiche-body">
		<h2 class="title">FICHE DU <b>{{formatedDateActuelle}}</b></h2>
		<div class="table_container">
			<table table class="info_table">
				<thead>
					<tr>
						<th>SEANCE ACTUELLE</th>
						<th>ENSEIGNANT</th>
						<th>LIEU</th>
						<th>HORAIRE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>{{seanceActuelle.summary}}</b></td>
						<td><b>{{seanceActuelle.prof}}</b></td>
						<td><b>{{seanceActuelle.location}}</b></td>
						<td><b>{{horaireActuel}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<form (ngSubmit)="onSubmit(fiche)" #fiche="ngForm">
			<div class="table_container">
				<table class="pres_table">
					<thead>
						<tr>
							<th>PRENOM</th>
							<th>NOM</th>
							<th>ACTIF</th>
						</tr>
					</thead>
					<tbody *ngIf="etudiantsList$.length == 0 || etudiantsList$ == undefined || etudiantsList$ == null">
						<tr>
							<td><b>-</b></td>
							<td><b>-</b></td>
							<td><b>-</b></td>
						</tr>
					</tbody>
					<tbody *ngIf="etudiantsList$.length > 0 && etudiantsList$ !== undefined && etudiantsList$ !== null">
						<tr *ngFor="let etud of etudiantsList$">
							<td>{{etud.prenom}}</td>
							<td><b>{{etud.nom}}</b></td>
							<td><input name="{{etud.prenom}} {{etud.nom}}" type="checkbox" id="flexCheckDefault" ngModel></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="action_items">
				<button type="submit" class="action_logout" (click)="logOut()">
					<i class="fa fa-sign-out" aria-hidden="true"></i> QUITTER
				</button>
				<button *ngIf="etudiantsList$.length > 0 && etudiantsList$ !== undefined && etudiantsList$ !== null" type="submit" class="action_validate">
					<i class="fa fa-check-square-o" aria-hidden="true"></i> VALIDER
				</button>
			</div>
		</form>
	</div>
	<app-file-uploader *ngIf="isDocGeneratedOnce"></app-file-uploader>
	<div class="prochaine-seance-body">
		<div class="table_container">
			<table table class="info_table">
				<thead>
					<tr>
						<th>PROCHAINE SEANCE</th>
						<th>DATE</th>
						<th>LIEU</th>
						<th>HORAIRE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>{{seanceProchaine.summary}}</b></td>
						<td><b>{{formatedProchaineDate}}</b></td>
						<td><b>{{seanceProchaine.location}}</b></td>
						<td><b>{{prochainHoraire}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
